<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Sezzle Calculator</title>
    <link href="./view/index.css" rel="stylesheet">
    <script src="./view/index.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <!--
        
    -->
    <div class="calculator-grid">
        <div class="output">
            <div data-previous-operand class="previous-operand"></div>
            <div data-current-operand class="current-operand"></div>
        </div>
        <button tabindex="1" data-all-clear class="span-two">AC</button>
        <button tabindex="2" data-delete>DEL</button>
        <button tabindex="3" data-operation="÷">÷</button>
        <button tabindex="4" data-number="1">1</button>
        <button tabindex="5" data-number="2">2</button>
        <button tabindex="6" data-number="3">3</button>
        <button tabindex="7" data-operation="*">*</button>
        <button tabindex="8" data-number="4">4</button>
        <button tabindex="9" data-number="5">5</button>
        <button tabindex="10" data-number="6">6</button>
        <button tabindex="11" data-operation="+">+</button>
        <button tabindex="12" data-number="7">7</button>
        <button tabindex="13" data-number="8">8</button>
        <button tabindex="14" data-number="9">9</button>
        <button tabindex="15" data-operation="-">-</button>
        <button tabindex="16" data-number=".">.</button>
        <button tabindex="17" data-number="0">0</button>
        <button tabindex="18" data-equals class="span-two">=</button>

    </div>

</body>

</html>